.container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.outline {
    background-color: transparent;
    color: #590b4e;
    border-color: #590b4e;
    border-width: 1;
}


.item {
    padding: 0;
    has-shadow: true;
    margin: 8,8;
    height: 150;
    width: 100;
}
